/* Fonte principal */
body {
  font-family: 'Hammersmith One', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #333;
}

/* Cabeçalho principal */
.container-main {
  text-align: center;
  padding: 30px 15px;
  background-color: #fff;
  border-bottom: 3px solid #0678BF;
}
.img-main img{
  width: 100px; 
  height: auto;
}
h1 {
  color: #1DA1F2;
  font-size: 2.5em;
  margin-bottom: 10px;
}

/* Blocos reutilizáveis */
.filtros,
.tabela-ocorrencias {
  max-width: 800px;
  margin: 20px auto;
  padding: 15px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.08);
}

/* Botões de ação */
.botoes-acoes {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  margin: 20px auto;
  max-width: 800px;
  padding: 0 15px;
}

button {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #F28705;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  font-size: 1em;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background-color: #E08603;
}

button img {
  height: 16px;
}

/* Inputs e selects */
input,
select,
textarea {
  padding: 10px;
  margin: 5px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1em;
}

/* Tabela */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th, td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

th {
  background-color: #1B8BEF;
  color: #fff;
}

td button {
  background: none;
  border: none;
  padding: 5px;
  cursor: pointer;
}

td button img {
  height: 20px;
  transition: transform 0.2s;
}

td button:hover img {
  transform: scale(1.2);
}

/* Modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.painel-add-ocorrencias {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

/* Formulário */
#form-ocorrencia {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  width: 100%;
  max-width: 90%;
  max-height: 80vh; 
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#form-ocorrencia input, 
#form-ocorrencia select, 
#form-ocorrencia textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Botões do modal */
.modal-buttons {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

button.add-bttn {
  background-color: #00cc66;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button.cancel-bttn {
  background-color: #cc0000;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
